*.lock
*.bin
*.iml
*.swp
.idea/
.gradle/
.gradle/**/*
# Can ignore specific files
.DS_Store
*.pro
# Use wildcards as well
*.swp

# Can also ignore all directories and files in a directory.
tmp/**/*
gradle/**/*
.dea/**/*
